{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Date_edition</th>
                <td>{{ livre.dateEdition ? livre.dateEdition|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ livre.categorie }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ livre.disponibilite ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <button><a href="{{ path('app_livre_reserver', {id: livre.id}) }}">Reserver</a></button>
    <br>
    <a href="{{ path('app_livre_index') }}">back to list</a>

{% endblock %}
